/node_modules
/public/hot
/public/storage
/storage/
/vendor
.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log

yarn-error.log
package-lock.json
composer.lock

.vscode
.editorconfig
.DS_Store

/public/css/*.css
/public/js/*.js
/public/fonts
/public/images/artmedia
/public/images/logomedia
/public/mix-manifest.json